.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}
.banner p {
  font-size: 20px;
  opacity: .7;
  color: #B3B3B4;
}
.banner h1 {
  color: white;
}
